#root {
    color: black;
    text-align: center;
}

/* Navbar section */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6600cc;
    padding: 10px;
    gap: 30rem;
}

.resumebtn {
    margin-right: 10px;
}

.homebtn,
.resumebtn,
.qrbtn {
    font-weight: bold;
    color: white;
    border: none;
    background-color: #6600cc;
    cursor: pointer;
}

.homebtn {
    font-size: 30px;
}

.resumebtn,
.qrbtn {
    font-size: 20px;
    border: 2px solid white;
    padding: 6px 10px;
    border-radius: 30px;
    min-width: 108px;
}

.resumebtn:hover,
.qrbtn:hover {
    background-color: #66cc00;
    color: black;
    
}

/* Hero section */
h1 {
    color: #6600cc;
}

.profile-picture {
    margin-top: 20px;
    max-width: 200px;
}

.intro h1 {
    margin-top: -20px;
    margin-bottom: 20px;
}

.intro h3 {
    margin-bottom: 10px;
}

.intro p {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.emoji {
    font-size: 20px;
}

.illustration {
    max-width: 800px;
}

.intro {
    margin-bottom: 40px;
}

.illustration-wrapper {
    margin-bottom: 100px;
}

/* project section */
.project-section h1 {
    margin-bottom: 20px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-self: center;
    gap: 20px;
}

.project-card {
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #6600cc;
    color: white;
    max-width: min-content;
}

.wrapper {
    position: relative;
    background-color: black;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.project-picture {
    flex: 1;
    min-width: 100%;
    min-height: 100%;
    aspect-ratio: 2/1;
    object-fit: fill;

    opacity: 1;
    transition: 500ms ease;
    backface-visibility: hidden;
}

.middle {
    transition: 500ms ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.demo {
    display: flex;
    gap: 60px;
}

.live, 
.repo {
    background-color: #66cc00;
    border: 2px solid white;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;

    padding: 2px 4px;
    min-width: 70px;
    border-radius: 10px;
    cursor: pointer;
}

.wrapper:hover .project-picture {
    opacity: 0.2;
}

.wrapper:hover .middle {
    opacity: 1;
}

.project-card .name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.description {
    font-size: 18px;
    margin-bottom: 10px;
}

.project-section {
    margin-bottom: 200px;
}


/* Tech Stack section */
.tech-stack h1 {
    margin-bottom: 20px;
}

.tech {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    gap: 6px;
}

.tech-item {
    font-weight: bold;
    color: black;
    background-color: #66cc00;

    padding: 0px 4px;
    margin: 0px;
}

.stack-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 180px;
}

.stack-item {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: start;

    font-size: 18px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    gap: 20px;

    background-color: white;
}

.stack-icon {
    max-width: 40px;
    aspect-ratio: 1/1;
}

.frontend,
.backend,
.others {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.stack {
    max-height: 286px;
}

.stack-container .column:nth-child(3) {
    max-width: 360px;
}

.stack-container .column:nth-child(3) ul {
    display: flex;
    flex-flow: row wrap;
}

.stack-container .column:nth-child(3) ul .stack-item {
    min-width: 150px;
}

.stack-container {
    margin-bottom: -100px;
}


/* About Me section */
.about-me,
.about-me-heading {
    background-color: #6600cc;
    color: white;
}

.about-me-heading {
    padding-top: 250px;
    margin-bottom: 20px;

}

.about-me-text {
    font-size: 18px;
    max-width: 800px;

    display: flex;
    flex-direction: column;
    justify-self: center;
}

.about-me-text p {
    padding-bottom: 20px;
    text-align: center;
    line-height: 1.5;
    word-break: break-word;
}

.about-me-text a {
    color: white;
}

/* Footer section */
footer {
    background-color: #6600cc;
    padding-bottom: 50px;
}

.socials-heading {
    padding-top: 100px;
    color: white;
    margin-bottom: 20px;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.social-link {
    background-color: white;
    border-radius: 20px;
}

.social-link:hover {
    background-color: #66cc00;
}

.icon {
    width: 40px;
    height: 40px;
}

.icon img {
    width: 20px;
    height: 20px;
    display: flex;
    padding: 10px;
}

.copyright {
    color: white;
    font-size: 18px;
}

.copyright span {
    font-size: 25px;
}

.copyright p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}


/* Responsive Design */
@media (max-width: 850px) {
    nav {
        gap: 30vw;
    }

    .project-section h1 {
        margin-top: 20px;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin: 0 10px;
    }

    .project-card {
        max-width: 600px;
    }

    .demo {
        gap: 20vw;
    }

    .live, .repo {
        font-size: 1.5rem;
    }

    .wrapper,
    .details {
        max-width: 600px;
    }

    .illustration-wrapper {
        display: flex;
        justify-content: center;
    }

    .illustration {
        display: flex;
        justify-self: center;
        max-width: 600px;
    }

    .stack-container {
        flex-direction: column;
    }

    .stack {
        display: flex;
        justify-content: center;
    }

    ul {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .stack-item {
        min-width: 150px;
    }

    .stack-container .column:nth-child(3) {
        max-width: none;
    }

    .stack-container .column:nth-child(3) .stack ul {
        display: flex;
        justify-content: center;
    }                

    .about-me-text {
        margin: 0 50px;
    }
}

@media (max-width: 630px) {
    nav {
        gap: 20px;
    }

    .project-card,
    .wrapper,
    .details,
    .illustration {
        max-width: 300px;
    }

    .project-card {
        box-sizing: border-box;
    }

    .demo {
        gap: 40px;
    }

    .live, .repo {
        font-size: 20px;
    }


    .social-media {
        flex-wrap: wrap;
        margin: 40px;
    }
}

@media (max-width: 357px) {
    .resumebtn {
        margin: 0;
        margin-bottom: 10px;
    }

    .stack-container {
        margin-bottom: -30px;
    }

    .about-me-heading {
        padding-top: 400px;
    }
}