#root {
    color: black;
    text-align: center;
}

nav {
    background-color: #4700b3;
}

h1 {
    color: #4700b3;
}

.profile-picture {
    max-width: 200px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-self: center;
    gap: 10px;
}

.project-card {
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #4700b3;
    color: white;
    max-width: min-content;
}

.wrapper {
    position: relative;
    background-color: black;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-picture {
    flex: 1;
    min-width: 100%;
    min-height: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;

    opacity: 1;
    transition: 500ms ease;
    backface-visibility: hidden;
}

.middle {
    transition: 500ms ease;
    /* opacity: 0; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.demo {
    display: flex;
    gap: 10px;
}

.live, 
.repo {
    background-color: #6CB300;
    border: 2px solid white;
    font-size: 1.2rem;
    font-weight: bold;

    padding: 2px 4px;
    min-width: 70px;
    border-radius: 10px;
    cursor: pointer;
}

.wrapper:hover .project-picture {
    opacity: 0.2;
}

.wrapper:hover .middle {
    opacity: 1;
}

.project-card .name {
    font-weight: bold;
    font-size: 1.2rem;
}

.description {
    font-size: 18px;
}

.tech {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    gap: 6px;
}

.tech-item {
    font-weight: bold;
    color: black;
    background-color: #6CB300;

    padding: 0px 4px;
    margin: 0px;
}

.stack-container {
    display: flex;
    justify-content: center;
}

.stack-item {
    list-style-type: none;
    display: flex;
}

.stack-icon {
    max-width: 40px;
    aspect-ratio: 1/1;
}